{% extends 'global/page.html' %} {% block page_header_top %}
<div class="header-top-content">
  <h1 class="h1-responsive font-weight-bold my-4">Pesonal Area</h1>
  {% include 'global/goBack.html' %}
</div>
{% endblock %} {% block page_content %}
<div class="row justify-content-between">
  <form class="col text-center" action="{% url 'userPortfolio' %}" method="POST">
  {% csrf_token %}
  <button class="page-btn" type="submit">Projects</button>
</form>
<form class="col text-center" action="{% url 'all_blogs' %}" method="POST">
  {% csrf_token %}
  <button class="page-btn" type="submit">Blog</button>
</form>
<form class="col text-center" action="{% url 'userSettings' %}" method="GET">
  {% csrf_token %}
  <button class="page-btn" type="submit">User settings</button>
</form>
</div>
{% endblock %}
